[advisories]
db-path = "https://github.com/rustsec/advisory-db"
ignore = []

[bans]
multiple-versions = "warn"
deny = []

[licenses]
confidence-threshold = 0.8
allow = [
    "Apache-2.0",
    "Apache-2.0 WITH LLVM-exception",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "ISC",
    "MIT",
    "MIT-0",
    "MPL-2.0",
    "Unlicense",
    "Zlib",
    "CC0-1.0",
    "Unicode-DFS-2016",
    "Unicode-3.0",
    "OpenSSL",
]
exceptions = []

[[licenses.clarify]]
name = "ring"
expression = "ISC AND MIT AND OpenSSL"
license-files = []

[[licenses.clarify]]
name = "webpki"
expression = "BSD-3-Clause"
license-files = []

[sources]
unknown-registry = "deny"
unknown-git = "deny"
