[package]
name = "anon_ticket_domain"
edition.workspace = true
rust-version.workspace = true
license.workspace = true
version.workspace = true
authors.workspace = true
publish = false

[dependencies]
